<!-- Homepage image -->
<div style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
    <img src="/homepage.jpg" alt="Landing_image" style="max-width: 50%; max-height: 50%; height: auto; width: auto;">
</div>

<div class="container">
    <header class="header section">
        <h1>DeBoleia</h1>
        <div class="content">
            <p>DeBoleia is a platform that connects drivers and passengers, allowing drivers to offer rides and passengers to search for trips that match their needs. It's a cost-effective and flexible way to travel, designed to adapt to your schedule. Our user rating system ensures safety and reliability, giving you control over your travel companions. We currently operate in Portugal and are launching our sister platform – <strong>DeCarona</strong> – in Brazil.</p>
        </div>
    </header>

    <section class="section">
        <div class="content">
            <h2>Why Use Carpooling?</h2>
            <p>With rising economic costs and growing ecological concerns, carpooling presents a sustainable, flexible transportation solution. It reduces greenhouse gas emissions and traffic congestion, while allowing participants to share fuel costs, resulting in savings for both drivers and passengers. The widespread adoption of carpooling can shorten commutes, giving you more time for what truly matters.</p>
        </div>
    </section>

    <section class="section">
        <div class="benefits-grid">
            <div class="benefits-column">
                <h3>Advantages for Drivers</h3>
                <ul class="benefits-list">
                    <li><strong>Share Expenses</strong>: Split travel-related costs like fuel and tolls with passengers.</li>
                    <li><strong>Earn Extra Income</strong>: Turn your daily commute into an opportunity to make money.</li>
                    <li><strong>Access Bus Lanes</strong>: Reduce your travel time by using bus lanes where available.</li>
                    <li><strong>Social Interaction</strong>: Meet new people and form communities, all while reducing driver fatigue for increased safety on long trips.</li>
                    <li><strong>Environmental Impact</strong>: Contribute to a sustainable travel method and feel good about reducing your environmental footprint.</li>
                </ul>
            </div>

            <div class="benefits-column">
                <h3>Advantages for Riders</h3>
                <ul class="benefits-list">
                    <li><strong>Cost Savings</strong>: Travel comfortably at a fraction of the price of using your own car, taxis, or other mobility services.</li>
                    <li><strong>Flexibility</strong>: Find rides that match your preferred times and dates.</li>
                    <li><strong>Faster Travel</strong>: Skip traffic by accessing bus lanes and reducing congestion on the roads.</li>
                    <li><strong>Access Remote Destinations</strong>: Reach areas poorly served by traditional public transportation.</li>
                    <li><strong>Reduced Stress</strong>: Sit back and relax as a highly-rated driver takes care of the road.</li>
                    <li><strong>No Parking Hassles</strong>: Get dropped off wherever you need to go without worrying about finding parking.</li>
                    <li><strong>Social Connections</strong>: Build relationships with frequent riders and make your trips more enjoyable.</li>
                    <li><strong>Environmental Impact</strong>: Feel good knowing that by carpooling, you're making a positive contribution to the environment.</li>
                </ul>
            </div>
        </div>
    </section>
</div>