<br>
<h2>DeBoleia: A Success Story Born from a Need</h2>
<p>
	The idea of DeBoleia was born in January 2025, as a response to a concrete need:
	its founders, Frederico Bajouco, Ebenezer Marquezine, Leila Dantas, Daniel Sampaio, and Ana Vilarinho,
	needed to return home, but there were no train tickets left.
	Eventually, they managed to have a friend pick them up by car.
</p>
<p>
	During the journey, they realized that most of the vehicles they saw on the road were almost empty.
	This sparked the idea of creating a social network that would connect drivers with empty seats
	to passengers who needed to travel the same route.
</p>

<li class="nav-item logo-item" routerLink="/home">
	<img class="centered-image" src="/image1.png" alt="image1">
</li>
<br><br><br>