
  ::ng-deep .bttn-custom-green.mat-mdc-raised-button {
	background-color: #b8ffd2 !important;
	color: black !important;
  }
  
  ::ng-deep .bttn-custom-green.mat-mdc-raised-button:hover {
	background-color: #a0e6b8 !important;
  }

  .filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

	.search-field {
		width: 80%;
	}
}

.search-field {
    flex: 1;
    max-width: 400px;
}

.filter-image {
    width: 80px;
    height: auto;
    margin-right: 40px;
	margin-bottom: 10px
}

