<div class="login-container">
	<h2 id="title">Change Password</h2>
	<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="formulario">

		<!-- Old password field -->
		<div class="form-group mb-3">
			<label for="oldPassword" class="form-laber">Current Password:</label>
			<input id="oldPassword" formControlName="oldPassword" type="password" class="form-control" required />
			<div *ngIf="formControls['oldPassword'].invalid && formControls['oldPassword'].touched"
				class="invalid-feedback">
				Current password is required.
			</div>
		</div>

		<!-- New password field -->
		<div class="form-group mb-3">
			<label for="newPassword" class="form-laber">New Password:</label>
			<input id="newPassword" formControlName="newPassword" type="password" class="form-control" required />
		</div>
		<div *ngIf="formControls['newPassword'].invalid && formControls['newPassword'].touched">
			New password must be at least 8 characters long.
		</div>

		<!-- Confirm new password field -->
		<div class="form-group mb-3">
			<label for="confirmPassword" class="form-laber">Confirm New Password:</label>
			<input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"
				required />
		</div>
		<div *ngIf="formControls['confirmPassword'].hasError('mismatch') && formControls['confirmPassword'].touched"
			class="error-message">
			The passwords do not match.
		</div>

		<!-- Submit button -->
		<div class="action-buttons">
			<button type="submit" [disabled]="changePasswordForm.invalid" class="mat-mdc-button">Change</button>

			<button type="submit" class="mat-mdc-button2" (click)="onCancel()">Cancel</button>
		</div>
	</form>
</div>