<div class="utilizador-details-container">
	<div class="details-header">
	</div>

	<br>

	<div class="table-container">
		<div class="table-row">
			<div class="table-cell">
				<mat-card class="borda-customizada">
					<mat-card-content>
						<div style="display: flex; align-items: center; position: relative; width: 100%;">
							<div style="flex: 1; text-align: center;">
								<h3 style="margin: 0;">Personal Info</h3>
							</div>
						</div>

						<mat-divider></mat-divider><br>
						<br>
						<div class="info-group">
							<p><strong>Name:</strong> {{ user?.name || 'Not Provided' }}</p>
							<p><strong>Email:</strong> {{ user?.email || 'Not Provided' }}</p>
							<p><strong>Status:</strong>&nbsp;
								<span class="badge" [ngClass]="user?.status === 'active' ? 'bg-success' : 'bg-danger'">
									{{ user?.status || 'Not available' }}
								</span>
							</p>
							<p><strong>Phone Number:</strong> {{ user?.phoneNumber || 'Not Provided' }}</p>
							<p><strong>NIF:</strong> {{ user?.NIF || 'Not Provided' }}</p>
							<p><strong>Birth Date:</strong>
								<span *ngIf="user?.birthDate; else noBirthDate">{{ user?.birthDate | date }}</span>
								<ng-template #noBirthDate>N/A</ng-template>
							</p>
							<p><strong>Driver License:</strong> {{ user?.driversLicense || 'Not Provided' }}</p>

							<button type="button" class="btn btn-warning"
								*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin')"
								(click)="editUser(user)" style="margin-right: 20px;">
								<i class="bi bi-pencil"></i> Edit Personal Info
							</button>
							<button type="button" class="btn btn-secondary"
								*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin')"
								[routerLink]="['/change-password']">
								<i class="bi bi-lock"></i> Change Password
							</button>
							<button  style="background-color: #bebebe; color: black; padding: 10px 15px; border: none; border-radius: 12px; cursor: pointer; display: flex; align-items: center; gap: 8px;"
								*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() === 'admin')"
								[routerLink]="['/user']">
								<i class="bi bi-arrow-left"></i> Go Back
							</button>

						</div>
					</mat-card-content>
				</mat-card>
			</div>

			<div class="table-cell">
				<mat-card class="borda-customizada">
					<mat-card-content style="text-align: center;">
						<img *ngIf="user?.profilePicture; else defaultImage" [src]="user?.profilePicture"
							alt="User Profile Picture"
							style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">

						<ng-template #defaultImage>
							<img src="/avatar.png" alt="Default Profile Picture"
								style="width: 400px; height: 400px; border-radius: 50%; object-fit: cover;">
						</ng-template>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>

	<br>

	<div class="table-container">
		<div class="table-row">
			<div class="table-cell">
				<div class="card-container">
					<mat-card>
						<mat-card-content class="borda-customizada">
							<h3 style="text-align: center;">Passenger Info</h3>
							<mat-divider></mat-divider><br>
							<div class="info-group">
								<p><strong>Passenger Rating:&nbsp;&nbsp;</strong>
									<ng-container *ngFor="let i of [].constructor(5); let idx = index">
										<i class="bi" [ngClass]="{
						 'bi-star-fill': user?.passengerRating > idx + 0.5,
						 'bi-star-half': user?.passengerRating > idx && user?.passengerRating <= idx + 0.5,
						 'bi-star': user?.passengerRating <= idx
					   }" [title]="user?.passengerRating"></i>
									</ng-container>
									<strong>&nbsp;&nbsp;({{ user?.passengerRatingCount || 'Not Provided' }})</strong>
								</p>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="table-cell">
				<div class="card-container">
					<mat-card *ngIf="user?.driversLicense && user.driversLicense !== 'Not Provided'">
						<mat-card-content class="borda-customizada">
							<div style="display: flex; align-items: center; position: relative; width: 100%;">
								<div style="flex: 1; text-align: center;">
									<h3 style="margin: 8px 0 0 0;">Driver Info</h3>
								</div>
							</div>
							<mat-divider></mat-divider><br>
							<div class="info-group">
								<p><strong>Driver Rating:&nbsp;&nbsp;</strong>
									<ng-container *ngFor="let i of [].constructor(5); let idx = index">
										<i class="bi" [ngClass]="{
					   'bi-star-fill': user?.driverRating > idx + 0.5,
					   'bi-star-half': user?.driverRating > idx && user?.driverRating <= idx + 0.5,
					   'bi-star': user?.driverRating <= idx
					 }" [title]="user?.driverRating"></i>
									</ng-container>
									<strong>&nbsp;&nbsp;({{ user?.driverRatingCount || 'Not Provided' }})</strong>
								</p>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</div>
	</div>

	<br>

	<mat-card-content *ngIf="user?.driversLicense && user.driversLicense !== 'Not Provided'">
		<button type="button" class="btn btn-success" color="primary"
			*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin')"
			(click)="addCar()">
			<i class="bi bi-plus"></i>Add New Car
		</button>
	</mat-card-content>

	<br>

	<mat-card-content *ngIf="user?.driversLicense && user.driversLicense !== 'Not Provided'">
		<form [formGroup]="userForm">

			<div formArrayName="cars" class="cars-container">
				<mat-card class="borda-customizada" *ngFor="let carCtrl of carsFormArray.controls; let i = index"
					[formGroupName]="i">

					<mat-card-header>
						<div style="display: flex; align-items: center; position: relative; width: 100%;">
							<div style="flex: 1;">
								<h5 style="margin: 0;">Car Info {{ i + 1 }}</h5>
							</div>
							<div>
								<button type="button" class="btn btn-warning" style="margin-right: 8px;"
									(click)="editCar(i)"
									*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin') && !isEditing1(i)">
									<i class="bi bi-pencil"></i>
								</button>

								<button type="button" class="btn btn-danger" (click)="confirmDeleteCar(i)"
									*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin') && !isEditing1(i)">
									<i class="bi bi-trash"></i>
								</button>

							</div>
						</div>

					</mat-card-header>

					<mat-card-content>
						<br>
						<div *ngIf="isEditing1(i); else displayValues" class="edit-form">
							<mat-form-field appearance="outline">
								<mat-label>Brand</mat-label>
								<mat-select formControlName="brand" (selectionChange)="onBrandChange($event.value, i)">
									<mat-option *ngFor="let option of brandOptions" [value]="option">
										{{ option }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Model</mat-label>
								<mat-select formControlName="model">
									<mat-option *ngFor="let model of modelOptionsMap[i] || []" [value]="model">
										{{ model }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Color</mat-label>
								<mat-select formControlName="color">
									<mat-option *ngFor="let option of colorOptions" [value]="option">
										<span class="color-circle" [ngStyle]="{'background-color': option}"></span>
										{{ option }}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>License Plate</mat-label>
								<input matInput formControlName="licensePlate" (input)="formatLicensePlate($event)"
									[readonly]="isEditing1(i) && !isAddingCar" maxlength="8">
							</mat-form-field>

							<div class="button-row">
								<button mat-raised-button color="primary" (click)="handleSave(i)">Save</button>
								<button mat-button (click)="cancelEdit(i)">Cancel</button>
							</div>
						</div>

						<ng-template #displayValues>
							<div class="car-info">
								<p><strong>Brand:</strong> {{ carCtrl.get('brand')?.value || 'Not Provided' }}</p>
								<p><strong>Model:</strong> {{ carCtrl.get('model')?.value || 'Not Provided' }}</p>
								<p><strong>Color:&nbsp;&nbsp;</strong>
									<span class="color-display">
										<span class="color-dot"
											[style.backgroundColor]="carCtrl.get('color')?.value"></span>
										{{ carCtrl.get('color')?.value || 'Not Provided' }}
									</span>
								</p>
								<p><strong>License Plate:</strong> {{ carCtrl.get('licensePlate')?.value ||
									'NotProvided' }}</p>
							</div>
						</ng-template>
					</mat-card-content>
				</mat-card>
			</div>

		</form>
	</mat-card-content>

	<br>
	<mat-card-content>
		<button type="button" class="btn btn-danger" color="warn"
			*ngIf="authenticatorService.isLoggedIn() && (authenticatorService.getUserRole() !== 'admin')"
			(click)="desativarConta()">
			<i class="bi bi-exclamation-triangle"></i> Deactivate Account
		</button>
	</mat-card-content>

	<br>
	<br>
</div>