<mat-card >
	<mat-card-header style="align-items: center;">
		<div class="time-date">
			<mat-list matTooltip="Departure Date">
				<mat-list-item>
					<mat-icon matListItemIcon style="color: whitesmoke;">calendar_month</mat-icon>
					<span matListItemTitle style="color: whitesmoke;">{{this.trip?.departureDate | date:'fullDate'}}</span>
				</mat-list-item>
			</mat-list>
			<mat-list matTooltip="Departure Time">
				<mat-list-item>
					<mat-icon matListItemIcon style="color: whitesmoke;">schedule</mat-icon>
					<span matListItemTitle style="color: whitesmoke;">{{this.trip?.departureDate | date:'HH:mm'}}</span>
			</mat-list-item>
			</mat-list>
		</div>
	</mat-card-header>
	<mat-card-content>
		<mat-grid-list cols="3" rowHeight="3:1">
			<mat-grid-tile [rowspan]="3">
				<div class="driver">
					<img src="/avatar.png" alt="Avatar" class="avatar">
					<h5 style="margin: auto; margin-top: 2px;">{{trip?.driver.name}}</h5>
					<app-star-rating [showEvaluations]="true" [nrEvaluations]=trip?.driver.driverRatingCount [rating]=trip?.driver.driverRating></app-star-rating>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="2" rowspan="2">
				<div id="location-container">
					<div class="locations">
						<mat-icon>my_location</mat-icon>
						<p>{{getLocation(trip?.origin)}}</p>
					</div>
					<div class="locations">
						<mat-icon>location_on</mat-icon>
						<p>{{getLocation(trip?.destination)}}</p>
					</div>

				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<mat-list>
					<mat-list-item matTooltip="passengers on trip">
						<mat-icon matListItemIcon>people</mat-icon>
						<span matListItemTitle>{{trip?.passengers.length}} / {{trip?.nrSeats}}</span>
					</mat-list-item>
				</mat-list>
			</mat-grid-tile>
			<mat-grid-tile>
				<mat-list>
					<mat-list-item matTooltip="price">
						<mat-icon matListItemIcon>euro</mat-icon>
						<span matListItemTitle style="font-size: 30px; color: goldenrod; font-weight: bold;">{{trip?.pricePerPerson}}</span>
					</mat-list-item>
				</mat-list>
			</mat-grid-tile>
		</mat-grid-list>


	</mat-card-content>
</mat-card>