<div class="container mt-5">
    <h3>General Terms of Use | Privacy Notice | Cookie Policy</h3>

    <p><strong>Version effective as of January 24, 2025</strong></p>

    <h2>1. General Remarks</h2>

    <p><strong>{{ companyName }}</strong> (with its registered office at 84, Rua Dr. António Bernardino de Almeida, 431.
        4249-015 Porto. Portugal.) (“<strong>{{
            companyNameShort }}</strong>”, “we”, “our”, or “us”), as the data controller, is committed to protecting and
        respecting
        the user’s privacy. This notice (the “Privacy Notice”) is intended to inform the user about our practices
        regarding the collection, use, and disclosure of information that the user may provide through our platform
        accessible from the website www.{{ companyNameShort }}.com or through our mobile applications (the “Platform”).
    </p>

    <p>This Privacy Notice (together with our Terms and Conditions, any other documents referred to therein, and our
        Cookie Notice) sets out the basis on which any personal data we collect from the user, or that the user provides
        to us, will be processed by us. Please read the following information carefully to understand our views and
        practices regarding your personal data and how we will treat it.</p>

    <h2>2. What information do we collect from the user, and for how long?</h2>

    <p>We may collect and process the following data about the user:</p>

    <h5>2.1. Information that the user provides us</h5>

    <p>The user may provide us with information, including information that may identify them (“Personal Data”), when
        using our Platform, filling out forms on it (e.g., registration form), entering any of our contests, promotions,
        or surveys, communicating with us by phone, email, or otherwise, and reporting a problem related to our
        Platform.</p>

    <p>The information that the user provides us may include:</p>

    <ul>
        <li><strong>2.1.1. Required information for registration or access to services</strong>: Information such as the
            user's name, email address, date of birth, and a password. All of these fields are mandatory for creating an
            account on our Platform. Additionally, a phone number is required to post or book shared trips. To book bus
            tickets, the email address and passenger details are also mandatory. {{ companyNameShort }} will not be able
            to provide the services offered on the Platform if the necessary information is not provided, or if the user
            cannot register for an account on the Platform.</li>
        <li><strong>2.1.2. Photograph</strong></li>
        <li><strong>2.1.3. Postal address</strong></li>
        <li><strong>2.1.4. Vehicle details</strong></li>
        <li><strong>2.1.5. Brief user biography, gender (if agreed to provide)</strong></li>
        <li><strong>2.1.6. Record of any correspondence between the user and {{ companyNameShort }}</strong>: We may
            record and/or listen to phone calls between you and {{ companyNameShort }} (e.g., with our Community
            Relations agents). We give you the opportunity to object to this processing at the start of the call.</li>
        <li><strong>2.1.7. Record of any bookings the user has made or travel-related ads posted on our
                Platform</strong></li>
        <li><strong>2.1.8. Financial or accounting details</strong>: This may include payment card or bank account
            details, travel bookings, or routes booked or offered through our Platform, and may include the user's
            travel preferences.</li>
        <li><strong>2.1.9. Details of user visits to our Platform and the resources accessed</strong></li>
        <li><strong>2.1.10. Responses to any surveys or questionnaires</strong>, such as travel ratings made through our
            Platform. This information may be used for analytical purposes and user insights.</li>
        <li><strong>2.1.11. Information requested when reporting an issue with the Platform or service, such as the
                subject of the support request</strong></li>
        <li><strong>2.1.12. Location data</strong>: To respond to your search for trips near you or to facilitate
            posting your trip.</li>
        <li><strong>2.1.13. A copy of your Passport, Driver's License, Identity Card, or other similar documents
                provided in the context of Verified Profile.</strong></li>
    </ul>

    <h5>2.2. Information we collect automatically</h5>

    <ul>
        <li><strong>2.2.1. Social media registration</strong>: If you sign up via social media authentication methods,
            {{ companyNameShort }} may access certain Personal Data (e.g., first name, last name, photo, and email) from
            your social media account, in accordance with the applicable terms and conditions of those platforms.</li>
        <li><strong>2.2.2. Device and usage information</strong>: Regarding each of your visits to our Platforms, we may
            collect, in accordance with applicable law and when necessary with your consent, information about the
            devices you use and the networks you're connected to when using our services. This may include the following
            details: your IP address, login information, browser type and version, browser plug-in types and versions,
            operating system, platform, visit details (such as clickstream URLs to different pages of our Platform),
            viewed or searched content, search terms used, transfer errors, page visit duration, device advertising
            identifier, page interactions, and any phone numbers used to contact us. We collect this information using
            various technologies, including cookies (for more details, see our Cookie Notice).</li>
        <li><strong>2.2.3. Aggregated activity information</strong>: We also collect aggregated information about your
            activity on our Platform (e.g., the number of trips offered, response rate to messages, etc.). This
            information may be displayed on your public profile if you have one.</li>
        <li><strong>2.2.4. Insurance-related information</strong>: Lastly, we may collect information about the user
            from our insurance partners or intermediaries as part of their eligibility request for insurance programs or
            the subscription to insurance contracts proposed when acting as insurance representatives.</li>
    </ul>

    <h5>2.3. Data retention</h5>

    <h6>2.3.1. Personal Data</h6>
    <p>Unless otherwise stated in clauses 2.3.2 and 2.3.3 below, your Personal Data will be stored for the following
        period:</p>
    <ul>
        <li>5 years after your last use of our Platform, if you have not closed your account;</li>
        <li>30 days after account closure, unless you have received a negative rating or complaint, in which case your
            data will be stored for 2 years after account closure.</li>
    </ul>

    <h6>2.3.2. Personal Data categories stored for different periods</h6>
    <ul>
        <li><strong>Financial data</strong> (e.g., payments, refunds, etc.) is stored for the period required by
            applicable tax and accounting legislation (e.g., accounting documents are stored for up to 10 years).</li>
        <li><strong>User-generated content</strong> (e.g., comments, feedback, ratings) is anonymized according to the
            durations mentioned in section 2.3.1 but remains available on our Platform.</li>
        <li><strong>Registration data</strong> is stored for up to 12 months from the date of collection.</li>
        <li><strong>Phone call recordings with our Community Relations service</strong> are stored for up to 1 month,
            and analysis documents (such as call time and duration) are stored for up to 1 year.</li>
        <li><strong>Identity verification and fraud detection data</strong> is stored for 1 year.</li>
        <li><strong>Payment card information</strong> that the user has consented to store for future transactions on
            the Platform is stored until the user withdraws consent or until the card's expiration date, whichever comes
            first.</li>
    </ul>

    <h6>2.3.3. Suspended or blocked account data</h6>
    <p>If your account is suspended or blocked, we will store your data for 2 to 10 years depending on the severity of
        the breach, to prevent you from circumventing the rules of our Platform.</p>

    <h6>2.3.4. Legal obligations and dispute management</h6>
    <p>We may archive some of your Personal Data for up to five (5) years in order to fulfill our legal obligations and
        manage potential disputes.</p>


    <h2>3. How do we use the information we collect from the user?</h2>

    <p>We use the information we collect for the following purposes:</p>

    <table>
        <thead>
            <tr>
                <th>Purpose</th>
                <th>Legal Basis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3.1. To fulfill our obligations arising from any contracts we have entered into with the user or
                    contracts entered into by the user and our commercial partners, and to provide them with the
                    information and services they request.</td>
                <td>This processing is necessary for the performance of our mutual contractual obligations.</td>
            </tr>
            <tr>
                <td>3.2. To send information related to the service to the user via email and/or text message and/or any
                    other communication medium (e.g., booking confirmation).</td>
                <td>This processing is necessary for the performance of our mutual contractual obligations or carried
                    out with their consent.</td>
            </tr>
            <tr>
                <td>3.3. To charge the user for payments or to allow payments for the Contribution to Costs on the
                    Platform via the Hyperwallet Payment Solution.</td>
                <td>This processing is necessary for the performance of our mutual contractual obligations and to comply
                    with legal obligations.</td>
            </tr>
            <tr>
                <td>3.4. To allow the user to store their payment card information for future transactions on the
                    Platform.</td>
                <td>This processing is carried out with their consent. You can withdraw consent at any time by removing
                    the information from your profile or contacting our Community Relations service.</td>
            </tr>
            <tr>
                <td>3.5. To allow the user to customize their user profile on our Platform.</td>
                <td>This processing is carried out with their consent. You can withdraw consent at any time by removing
                    the information from your profile or contacting our Community Relations service.</td>
            </tr>
            <tr>
                <td>3.6. To allow the user to communicate and interact with other members or bus transport operators
                    listed on the Platform regarding our services or the trip(s) they will make and/or to organize them.
                </td>
                <td>This processing is necessary for the performance of our mutual contractual obligations.</td>
            </tr>
            <tr>
                <td>3.7. To give the user access and allow them to communicate with our Community Relations service.
                </td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations or (ii)
                    to establish, exercise, or contest legal claims.</td>
            </tr>
            <tr>
                <td>3.8. To improve our Community Relations service and train our customer agents by recording their
                    phone conversations with us.</td>
                <td>This processing is based on our legitimate interest (to provide high-quality customer support/to
                    improve our customer support). You may object to this processing during each contact.</td>
            </tr>
            <tr>
                <td>3.9. To ensure compliance with (i) applicable law, (ii) our Terms and Conditions, and (iii) our
                    Privacy Notice. Certain violations we consider inappropriate may lead to the suspension of your
                    account on our Platform. For these purposes, we may use technologies to automatically analyze your
                    use of the Platform, including the content of your posts, to detect any behavior that may constitute
                    a violation on your part.</td>
                <td>This processing is (i) necessary for the performance of our mutual contractual obligations, (ii)
                    based on our legitimate interest (to prevent evasion of rules in force on the Platform), to which
                    you can object, or (iii) necessary to establish, exercise, or contest legal claims.</td>
            </tr>
            <tr>
                <td>3.10. To send the user, in accordance with applicable law and when necessary, with their consent,
                    marketing materials and information necessary to facilitate the service or the booking process and
                    to give them suggestions and recommendations regarding goods or services related to our services and
                    that may interest them. We also use your data to target our advertisements to you on social media
                    platforms or third-party websites, or to create exclusion lists for promotional messages. You can
                    learn more about how these features work and the data we obtain from you by visiting the relevant
                    sections of third-party social media platforms.</td>
                <td>This processing is based (i) on your consent, which you may withdraw at any time to receive
                    commercial prospecting, by modifying preferences in your profile, clicking the unsubscribe link in
                    each of our communications, or contacting our Community Relations service; or (ii) on our legitimate
                    interest (to provide you with relevant advertising); in this case, you have the right to object.
                </td>
            </tr>
            <tr>
                <td>3.11. To notify you of changes to our services.</td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations, (ii) to
                    comply with our legal obligations, or (iii) to establish, exercise, or contest legal claims.</td>
            </tr>
            <tr>
                <td>3.12. To verify the information contained in your Passport, Driver's License, ID Card, and other
                    identification documents we may collect from the user at the time of registration or at any other
                    time during the use of our Platform.</td>
                <td>This processing is based (i) on your consent, in the context of obtaining the Verified Profile badge
                    (in this case, you can withdraw your consent at any time by contacting our Community Relations
                    service), (ii) to comply with our legal obligations, or (iii) carried out to establish, exercise, or
                    contest legal claims.</td>
            </tr>
            <tr>
                <td>3.13. To manage our Platform and for internal operations, including troubleshooting, data analysis,
                    testing, research, and for analytical and survey purposes.</td>
                <td>This processing is based on our legitimate interest (to ensure the security of our Platform and
                    improve its functionalities).</td>
            </tr>
            <tr>
                <td>3.14. To improve our Platform to ensure that content is presented in the most effective way for you
                    and your device.</td>
                <td>This processing is based on our legitimate interest (to provide you with meaningful content).</td>
            </tr>
            <tr>
                <td>3.15. To allow you to participate in interactive features of our service when you choose to do so,
                    such as searching for nearby trips or posting trips based on your location.</td>
                <td>This processing is necessary (i) for the performance of our mutual contractual obligations or (ii)
                    based on your consent, when required by law. In this case, you can withdraw your consent by
                    disabling access permissions directly in your mobile device's operating system.</td>
            </tr>
            <tr>
                <td>3.16. As part of our efforts to keep our Platform secure and protected.</td>
                <td>This processing is based (i) on our legitimate interest (combating fraud and ensuring the security
                    of our Platforms), (ii) carried out to establish, exercise, or contest legal claims, or (iii) for
                    the purpose of complying with our legal obligations.</td>
            </tr>
            <tr>
                <td>3.17. To measure or understand the effectiveness of the advertising we serve to the user, and to
                    provide advertising that is relevant to our users.</td>
                <td>This processing is based (i) on our legitimate interest (e.g., measuring and optimizing the
                    efficiency of our advertising campaigns) or (ii) on your consent when required by law. (You can
                    change your cookie settings at any time by accessing the cookie settings presented at the bottom of
                    the page or in your BlaBlaCar account settings).</td>
            </tr>
        </tbody>
    </table>

    <br>
    <h2>4. Who are the recipients of the information we collect from the user and for what purposes?</h2>
    <p>4.1. When using our services, some of the information about the user is shared with members of our communities or
        with bus transport operators distributed on our Platform, both on their public profile and during the booking
        process (for example, we give your phone number to the members you will be sharing a trip with, to facilitate
        your organization, and your age is displayed on your public profile to help maintain a high level of trust
        between our members).</p>

    <p>4.2. We may receive and send information about the user, including their Personal Data, TO other entities and
        affiliates of {{ companyNameShort }}, for the purposes outlined in this Privacy Notice.</p>

    <p>4.3. We also work closely with third parties who may be recipients of your Personal Data, such as:</p>
    <ul>
        <li>Our business partners who are social media platforms and may provide you with linking services, such as
            linking your BlaBlaCar profile information from the respective social media platforms to our Platform;</li>
        <li>Our business partners who may advertise their services on our Platform and with whom we may decide to
            register; These services may include: insurance, banking, rental services, etc.;</li>
        <li>Our business partners who may advertise our services on their respective websites;</li>
        <li>Our subcontractors, including in technical services, payment, identity verification, delivery services, or
            analytics service providers.</li>
    </ul>

    <p>4.4. We do not disclose any information provided by the user, including their Personal Data mentioned in section
        4.3, to any of these third parties, unless:</p>
    <ul>
        <li>We involve a third-party service provider to execute any contract we enter into with the user to facilitate
            or enhance our services (e.g., in the context of payments made on our Platform);</li>
        <li>As part of the booking process and in order to provide the requested services, information such as the name,
            photograph, phone number, and/or email address may be displayed on the Platform and/or communicated to
            another member;</li>
        <li>As part of our rating system, evaluations that the user writes will be posted on the Platform. The reviews,
            including the user's abbreviated name and photograph, will be visible to all visitors of the Platform;</li>
        <li>We use the services of analytics providers and search engines to help us improve and optimize our Platform;
        </li>
        <li>This is explicitly requested by the user (e.g., when using social media authentication methods, subscribing
            to a service provided by one of our partners, requesting participation in an offer or transaction from one
            of our partners);</li>
        <li>We may distribute parts of our Platform (including trips the user has posted) for presentation on our
            business partners' websites, via API or widgets. In these cases, some of your public profile information may
            be presented on those websites;</li>
        <li>If required by law or if we believe in good faith that it is reasonably necessary to (i) respond to
            complaints made against {{ companyNameShort }}, (ii) comply with legal processes, (iii) enforce any
            agreement with our users, such as the Terms and Conditions or this Privacy Notice, (iv) in case of an
            emergency involving public health risk, death, or physical injury to someone, (v) in the context of an
            investigation, or (vi) to protect the rights, property, or personal safety of {{ companyNameShort }}, its
            members, or third parties;</li>
        <li>In the event that we sell or buy a business or assets, in which case we may disclose the user's Personal
            Data to the potential seller or buyer of such business or assets; and</li>
        <li>If {{ companyNameShort }} or its assets are, in whole or in part, acquired by a third party, in which case
            the Personal Data held by us about our members will be one of the transferred assets.</li>
    </ul>

    <p>4.5. In accordance with applicable law and, when necessary, with your consent (in which case, you may withdraw
        your consent at any time by contacting our Community Relations service), we may combine information about the
        user, including their Personal Data, with information from cookies that we send and receive to and from our
        business partners. We may use this information and the combined information for the purposes defined above.</p>

    <p>4.6. We draw the user's attention to the fact that if they decide to share their information, including Personal
        Data, with us through our business partners' linking services, the policies and/or privacy notices of our
        business partners may also apply to the user, in addition to this Privacy Notice. We do not control the
        collection and/or processing of your information that may be made by our business partners on their own
        platforms.</p>

    <p>4.7. As required by applicable regulations, payments are processed by PayPal (Europe) S.à r.l. et Cie, S.C.A., as
        the Payment Solution Provider, a Luxembourg credit institution duly licensed under Article 2 of the Law of April
        5, 1993, related to the financial sector, acting as a separate data controller. The personal data collected and
        processed by the Payment Solution Provider is subject to the privacy policy of Hyperwallet
        (https://pay.hyperwallet.com/hw2web/consumer/page/privacyAgreement.xhtml). As further detailed in our Terms and
        Conditions, PayPal may request additional information from the user for KYC (“Know Your Customer”) verification
        procedures. KYC verification procedures carried out by the Payment Solution Provider are distinct and
        independent from the verification procedures that {{ companyNameShort }} may carry out regarding the use of the
        Platform and are subject to the privacy policy of Hyperwallet.</p>

    <h2>5. How do we use and moderate the user’s messages?</h2>

    <p>5.1. We may read the messages you exchange with other members of our community through our Platform for fraud
        prevention, service improvement, customer support, and enforcement of contracts entered into with our members
        (such as our Terms and Conditions). For example, to prevent our online booking system from being circumvented,
        we may read and analyze messages sent through our Platform to check whether they include contact details or
        references to other websites, and when applicable, the messages may be blocked or filtered in whole or in part.
    </p>

    <p>5.2. We never read or analyze the messages you exchange with other members of our community for commercial and
        advertising purposes. We may use automated methods to moderate these messages, but no individual automated
        decisions are made in this regard.</p>

    <h2>6. Targeted Ads and Communications Sent via Email and/or Text Messages</h2>
    <p>
        In accordance with applicable legislation and, where necessary, with your consent, we may use the information
        you provide on our Platform for electronic direct marketing purposes
        (e.g., (i) to receive our newsletters, (ii) to receive invitations to our events or other communications that we
        think may interest you, or (iii) to display targeted ads on social
        media platforms or third-party websites), based on your profile and interests.
    </p>
    <p>
        For electronic marketing communications: You can withdraw your consent at any time by (i) modifying preferences
        in your profile, (ii) clicking the unsubscribe link we provide in each communication sent to you, or (iii)
        contacting us using the contact details provided in section 13 below.
    </p>
    <p>
        For targeted ads and content:
    <ul>
        <li>On social media (e.g., Facebook): you can opt-out at any time by configuring your advertising settings
            directly in your social media account or by contacting us as described in section 13 below.</li>
        <li>On third-party websites: please see our Cookie Policy to learn how to opt-out.</li>
    </ul>

    <h2>7. Are Your Information Being Transferred? How and Where?</h2>
    <p>
        In principle, we store user Personal Data within the European Union ("EU"). However, since some of our service
        providers are located in countries outside the EU ("third countries"),
        we also transfer some of your data to third countries. This may include third countries where the European
        Commission has not determined that the country ensures an adequate level
        of protection. In such cases, we ensure that the transfer is carried out in accordance with applicable law and
        that appropriate safeguards have been implemented (especially standard
        contractual clauses issued by the European Commission) to ensure a sufficient level of protection of fundamental
        rights and privacy.
    </p>
    <p>
        By submitting a request to the Group Data Protection Officer ({{ email }}), we can provide you
        with details regarding these appropriate safeguards (e.g., standard
        contractual clauses issued by the European Commission).
    </p>
    <h2>8. What Are Your Rights Regarding Your Personal Data?</h2>
    <ul>
        <li><strong>8.1</strong> You have the right to receive a copy of your personal data in our possession (your
            right of access).</li>
        <li><strong>8.2</strong> You may withdraw your consent at any time for processing based on consent, as described
            in section 3.</li>
        <li><strong>8.3</strong> You can request the deletion or correction of inaccurate personal data (right to
            deletion and rectification).</li>
        <li><strong>8.4</strong> You have the right to object to processing for direct marketing purposes or processing
            based on our legitimate interest.</li>
        <li><strong>8.5</strong> You have the right to restrict the processing of your personal data under specific
            conditions.</li>
        <li><strong>8.6</strong> You have the right to data portability.</li>
        <li><strong>8.7</strong> You have the right to file a complaint with the relevant data protection authority.
        </li>
        <li><strong>8.8</strong> You have the right to set guidelines regarding the fate of your data after your death.
        </li>
        <li><strong>8.9</strong> To exercise your rights, contact the Group Data Protection Officer using the details
            provided in section 13 below.</li>
    </ul>
    <h2>9. Cookies and Similar Technologies</h2>
    <p>To learn more, please see our Cookie Notice.</p>
    <h2>10. Confidentiality of Your Password</h2>
    <p>If you have chosen a password to access your account on our Platform, you are responsible for keeping it
        confidential. Please do not share your password with anyone.</p>
    <h2>11. Links to Other Websites and Social Media</h2>
    <p>
        Our Platform may contain links to and from the websites of our partners, advertisers, and affiliates. If you
        follow a link to any of these websites, please note that they have their
        own privacy practices and we are not responsible for those policies. Please review these policies before
        submitting any Personal Data to these websites.
    </p>
    <h2>12. Changes to Our Privacy Notice</h2>
    <p>Any changes we may make to our Privacy Notice in the future will be posted on this page. Where appropriate, we
        will notify you or seek your consent. Please check this page frequently for updates.</p>
    <h2>13. Contact – Data Protection Officer</h2>
    <p>
        If you have any further questions about this Privacy Notice or have any requests regarding your Personal Data,
        you can contact us via email at:
    </p>
    <p>Our Data Protection Officer at: <strong>{{email}}</strong></p>

    <h2>14. Right to Erasure (Right to be Forgotten)</h2>
    <p>In accordance with the General Data Protection Regulation (GDPR), you have the right to request the deletion of
        your personal data that we hold. If you wish to exercise this right, please submit your request to the following
        email address: <strong>{{email}}</strong>.</p>

    <p>Upon receiving your request, we will take the necessary steps to verify your identity and process your request in
        compliance with applicable legal requirements. Please note that in certain circumstances, we may be unable to
        fulfill your request due to legal obligations or legitimate interests.</p>

    <p>For any further questions regarding the right to erasure or our data protection practices, please do not hesitate
        to contact us at <strong>{{email}}</strong>.</p>

    <button
        style="background-color: #bebebe; color: black; padding: 10px 15px; border: none; border-radius: 12px; cursor: pointer; display: flex; align-items: center; gap: 8px;"
        *ngIf="!isLoggedIn" (click)="voltarParaRegisto()"><i class="bi bi-arrow-left"></i>
        Back to Register
    </button>
    <br><br><br>

</div>