
.driver {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ccc;
	// margin-bottom: 4px;
	margin: auto;
	margin-top: 15px;
}

.driver-name {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: auto;
	// margin-top: 10px;
	// margin-bottom: 10px;
}
